@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900');

/* http://getbem.com/naming/ */

body {
  --color-charcoal-grey: #2d343a;
  --color-putty: #bcb38e;
  --color-seafoam-blue: #74b3ce;
  --color-light-grey: #f2efe6;
  --color-white: white;
  --family-sans-serif: 'Source Sans Pro', sans-serif;
  --family-serif: 'Playfair Display', serif;
  background-color: var(--color-charcoal-grey);
  color: var(--color-white);
}

.div__max-width {
  margin: auto;
  max-width: 1344px;
}

h1,
h2 {
  font-family: var(--family-serif);
}

h1 {
  color: var(--color-white);
  font-size: 60px;
  font-weight: 900;
  margin: 8px auto;
  text-align: center;
}

header > a > svg {
  width: 227px;
  height: 64px;
  object-fit: contain;
}

.header__max-width {
  margin: auto;
  max-width: 1344px;
}

p {
  font-family: var(--family-sans-serif);
  font-weight: normal;
}

.p__border-bottom {
  border-bottom: 3px solid var(--color-seafoam-blue);
}

.p__font-24 {
  font-size: 24px;
}

.p__max-width-490 {
  max-width: 490px;
}

.p__max-width-570 {
  max-width: 570px;
}

.p__putty {
  color: var(--color-putty);
  margin: 8px auto;
  padding: 8px 8px 24px 8px;
  text-align: center;
}

.p__serif {
  font-family: var(--family-serif);
}
