@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900');

/* http://getbem.com/naming/ */
/* block */
/* block__elem */
/* block--mod */

body {
  --color-charcoal-grey: #2d343a;
  --color-dark-taupe: #726442;
  --color-putty: #bcb38e;
  --color-seafoam-blue: #74b3ce;
  --color-light-grey: #f2efe6;
  --color-white: white;
  --family-sans-serif: 'Source Sans Pro', sans-serif;
  --family-serif: 'Playfair Display', serif;
  background-color: var(--color-charcoal-grey);
  color: var(--color-white);
}

h1 {
  font-family: var(--family-serif);
}

p {
  font-family: var(--family-sans-serif);
  font-weight: normal;
}

.Layour__div {
  margin: auto;
  max-width: 1344px;
}
