.header {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1344px;
}

.header__Link {
  color: var(--color-light-grey);
  font-size: 17px;
  font-weight: 900;
  margin-left: 46px;
  text-decoration: none;
}

.header__Link--active {
  color: var(--color-putty);
}

.header__Logo {
  height: 64px;
  object-fit: contain;
  width: 227px;
}

.header__ul {
  color: white;
  display: flex;
  list-style: none;
  margin: auto 0;
  padding: 0;
}
